{% extends "base.html" %}
{% load static %}

{% block body %}
{% load static %}
    
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Shopping Cart Section Begin -->
 <section style="height:inherit;">  
    <div>
        <div class="photo" style="float:left;width:42%">
            <image src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/1753419/2017/6/13/11497332701241-Roadster-Women-Mustard-Solid-Boat-Neck-T-shirt-7541497332700950-1.jpg"
             style="padding-left:35px; padding-top:20px;"></image>
        </div>
        <div class="details" style="float:right;width:58%; padding:0px 0px 0px 30px;">
             <div>
                 <h1 style="color: #282c3f; padding: 0 20px 0 0;
                 font-size: 24px;
                 font-weight: 500;
                 line-height: 1;"><br>Black Gem</h1>
                 <div style="color: #535665;
                 padding: 5px 20px 14px 0;
                 font-size: 20px;
                 opacity: .8;
                 font-weight: 400;">Product ID:15</div>
                 <div style="color: #535665;
                 padding: 5px 20px 14px 0;
                 font-size: 20px;
                 opacity: .8;
                 font-weight: 400;">Ziyaa</div>
                 <div style="color: #696e79;
                 font-size: 25px;
                 margin-bottom: 5px;
                 display: inline-block;"><strong>Rs.987</strong></div>
                 <p styel="font-size:16px;">inclusive of all taxes</p>
                 <div>
                     <p style="display: inline-block;font-size: 16px;margin: 0;font-weight: 500;"><strong>SELECT SIZE</strong></p>
                 </div>

             </div>
             <strong type="button" style="position:50px; width:75%; height:50px; background-color:#0309a8; color:aliceblue;margin-left:0px;margin-top:10px;
              margin-bottom:7px; text-align: center; padding-top: 10px;">Wishlist Now</strong>
             <strong type="button" style="position:50px; width:75%; height:50px; background-color:#0309a8; color:aliceblue;margin-left:0px;margin-top:10px;
             margin-bottom:7px; text-align: center;padding-top: 10px;">Order Now</strong>
             <div style="margin:5px">
                 <div>EMI Options</div>
                 <div>Best offers</div>
                 <div>
                    <h2 style="margin-top:10px">Product details</h2>
                     <p><h4>Desc:</h4>Women Black Printed Kurta with Trousers </p>
                     <p><h4>Color:</h4>Black</p>
                     <p><h4>Size:</h4>S , L , XL , XXL , XXXL</p>
                 </div>
             </div>
        </div>
    </div>
</section>
    <!-- Shopping Cart Section End -->

{% endblock %}